.headder{
    width: 100%;
    height: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 1rem;
    img{
        width: 80%;
        height: 80%;
    }
}
.wtap{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.7);
    display: flex;
    flex-direction: column;
}


.mains{
    flex: 1;
    width: 100%;
    height: 10rem;
    .img{
        width: 80%;
        height: 60%;
        margin: 10%;
        border-radius: 1rem;
    }
    h2{
        width: 100%;
        font-size: 34px;
        text-align: center;
    }
}
.Footer{
    width: 100%;
    .BFF{
        width: 100%;
        display: flex;
        height: 1rem;
        line-height: 1rem;
        p{
            flex: 1;
            text-align: center;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
    .BoF{
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        display: flex;
        margin-top: .3rem;
        p{
            flex: 1;
            font-size: 18px;
            line-height: 1rem;
            height: 1rem;
        }
        .jind{
            flex: 8;
            height: 5px;
            background: pink;
            margin-top: .4rem;
            
        }
        .jB{
            height: 5px;
            background: gold;
        }
    }
}